{
  "extends": "stylelint-config-standard",
  "rules": {
    "no-descending-specificity": [
      null,
      {
        "severity": "warning"
      }
    ],
    "font-family-no-missing-generic-family-keyword": [
      true,
      {
        "severity": "warning"
      }
    ]
  }
}
